/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header{
  color: white;
  background: black;
}

.container{
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

span{
  font-size: 30px;
}

.nav-list-item {
  list-style: none;
  display: inline-block;
  margin: 0 20px;
  float: right;
  color: gray;
  position: relative;
}

.main {
  width: 90%;
  text-align: left;
  padding-left: 100px;
}

.about{
  padding-left: 100px;
}

.col-lg-2 {
  float: left;
}

.col-lg-10 {
  float: left;
}

.footer{
  text-align: right;
  margin-right: 150px;
}

.field{
  margin: 5px;
}

.signup{
  margin-left: 150px;
}